$font_primary: 'Quicksand',
sans-serif;
$font_menu: 'Quicksand',
sans-serif;
$font_body: 'Lato',
sans-serif;

$color_primary: #20c063;
$color_secondary: #fd5f00;
$color_primary_gradient: linear-gradient(to right, #fd5f00, #20c063);
$color_body: #696969;
$color_light: #ffffff;
$color_dark: #111111;
$color_black: #000000;
$color_grey: #fafafa;
$color_blue: #37474f;

$border_radius: 4px;

$color_grey_800: #909090;
$color_grey_700: #908f8f;
$color_grey_600: #f9f9f9;
$color_grey_500: #bcbbbb;