.product-comment-form {
  .comment-reply-title {
    margin-bottom: 12px;
  }
  .form-group {
    margin-bottom: 15px;
    label {
      margin-bottom: 5px;
      font-weight: 500;
    }
    .form-control {
      border: 1px solid #e1e1e1;
      font-size: 14px;
    }
  }
  .comment-form-rating {
    margin-bottom: 3px;
    .stars {
      color: #fcb61f;
      font-size: 18px;
    }
  }
  .submit-btn {
    width: auto;
    font-size: 15px;
    border: none;
    border-radius: $border_radius;
    font-weight: 500;
    color: #ffffff;
    padding: 18px 35px;
    background-color: $color_primary;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    line-height: 100%;
    outline: none;
    &:hover {
      background-color: $color_secondary;
      color: #ffffff;
    }
  }
}
.rtcl {
  #review-form {
    #respond {
      p {
        margin-bottom: 0;
      }
      p.comment-notes {
        font-size: 15px;
      }
    }
  }
}