.banner-btn {
  .item-btn {
    font-weight: 500;
    color: #111111;
    background-color: #ffffff;
    border: none;
    border-radius: $border_radius;
    padding: 12px 28px;
    z-index: 1;

    &:hover {
      background-color: #ffffff;
      color: $color_primary;
    }
  }
}

.btn-common {
  font-weight: 600;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  letter-spacing: 0.02em;
  padding: 12px 55px 12px 25px;
  color: #333333;
  @include transition();
  border-radius: 4px;
  position: relative;
  @include respond-below(sm) {
    padding: 12px 15px;
  }

  & i {
    &::before {
      vertical-align: middle;
      display: inline-block;
      @include transition();
      font-size: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-44%);
      line-height: 1;
      right: 20px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    i {
      &::before {
        @include transition();
        outline: 0;
        box-shadow: none;
        right: 25px;
      }
    }
  }
}

.btn-grey {
  background: $color_grey_600;

  &:hover,
  &:active,
  &:focus {
    background: $color_secondary;
    color: $color_light;
    @include transition();
  }

  i {
    &::before {
      color: $color_secondary;
      @include transition();
    }
  }

  &:hover,
  &:active,
  &:focus {
    i {
      &::before {
        color: $color_light;
        @include transition();
        margin-left: 12px;
        outline: 0;
        box-shadow: none;
      }
    }
  }
}

.btn-orrange {
  background: $color_secondary;
  color: $color_light;

  &:hover,
  &:active,
  &:focus {
    background: $color_primary;
    color: $color_light;
    outline: 0;
    box-shadow: none;
    @include transition();

    i {
      &::before {
        margin-left: 12px;
      }
    }
  }
}

.btn-green {
  background: $color_primary;
  color: $color_light;

  &:hover,
  &:active,
  &:focus {
    background: $color_secondary;
    color: $color_light;
    outline: 0;
    box-shadow: none;
    @include transition();

    i {
      &::before {
        margin-left: 12px;
      }
    }
  }
}

.btn-white {
  background: $color_light;
  & i {
    color: $color_primary;
  }
  &:hover {
    background: $color_secondary;
    color: $color_light;
    & i {
      color: $color_light;
    }
  }
}
